
.icono{
    font-size: 27px;
    color: #f6f5f5;
}

body{
    background-color: #f6f5f5;
    font-weight: 500;
}

.container{
    background-color: #68b0ab;
    width:28em;
}

.titulo{
    color: #16213e;
    padding-top: 5px;
}

.border-aqua{
    border: 6px solid #a3d2ca
}

#boton{
    border-radius: 2em;
    background-color:  #056676;
    color: #faf3dd;
    border: none;
    font-weight:600;
    font-size: 15pt;
}

#boton:hover{
    background-color: #a3d2ca;
    color: #056676;
}

span{
    color: #cf1b1b;
    font-weight: 600;
    font-family: monospace;
    font-size: 16px;
    background-color: #a3d2ca
}

h1{
    font-size: 25px;
    font-weight: 700;
}